ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#2c3e50, #3498db, #2c3e50);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Poiret One', 'sans-serif';
  white-space: pre-wrap;
  padding: 0 1em 0.5em 1em;
  font-size: 1em;
  color: #FBFCFF;
}

@media only screen and (min-width : 768px) {
  .app {
    padding: 3em 12em 0 12em;
    font-size: 1.4em;
  }
}