ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#2c3e50 20%, #3498db, #2c3e50 80%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Poiret One', 'sans-serif';
  white-space: pre-wrap;
  padding: 0 1em 0.5em 1em;
  font-size: 1em;
  color: #FBFCFF;
}


/* @media all and (max-width: 1690px) { ... }
@media all and (max-width: 736px) { ... }
@media all and (max-width: 480px) { ... } */

@media all and (min-width: 1690px) { 
  .app {
    padding: 0 20em 0 20em;
    font-size: 1.3em;
    flex: 1;
  }
}

@media all and (min-width: 1280px) and (max-width: 1689px) {
  .app {
    padding: 0 14em 0 14em;
    font-size: 1.2em;
    flex: 1;
  }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
  .app {
    padding: 0 6em 0 6em;
    font-size: 1.1em;
    flex: 1;
  }
}
