ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#2c3e50 20%, #3498db, #2c3e50 80%);
  width: 100%;
  min-width: 20rem;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app {
  font-family: 'Poiret One', 'sans-serif';
  white-space: pre-wrap;
  padding: 0 1.2em 0.5em 1.2em;
  font-size: 1em;
  color: #FBFCFF;
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #3498db;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
} */

@media all and (min-width: 1690px) { 
  .app {
    padding: 0 20em;
    font-size: 1.3em;
    flex: 1;
  }
}

@media all and (min-width: 1280px) and (max-width: 1689px) {
  .app {
    padding: 0 14em 0 14em;
    font-size: 1.2em;
    flex: 1;
  }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
  .app {
    padding: 0 6em 0 6em;
    font-size: 1.1em;
    flex: 1;
  }
}
