
.card-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 90vw;
  height: 15em;
  margin: 0.5em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  /* z-index: 20; */
  background-image: linear-gradient(90deg, #F95151 0%, #F9E35F 24%, #83D45A 49%, #62AFDF 74%, #8678DD 100%);
  padding: 0.3em;
}

.card div {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgb(33, 152, 156);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .back {
  display: flex;
  flex-direction: column;
  background: #2c3e50;
  color: #fff;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  font-size: 0.9em;
  padding: 0.3em;
  text-align: start;
}

.card .back p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 1em;
}

.card .back ul {
  list-style-type: none;
  padding: 0;
}

.card .back ul li {
  margin: 0 0.5em 0 0.5em;
  opacity: 0;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.card-container:hover .card {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.4);
}

input[type=checkbox]:checked + .card .back ul li {
  animation: fade-in-icons 2s ease-in forwards;
}

input[type=checkbox]:checked + .card .back ul li:nth-child(1) {
  animation-delay: 0.5s;
}

input[type=checkbox]:checked + .card .back ul li:nth-child(2) {
  animation-delay: 1s;
}

input[type=checkbox]:checked + .card .back ul li:nth-child(3) {
  animation-delay: 1.5s;
}

input[type=checkbox]:checked + .card .back ul li:nth-child(4) {
  animation-delay: 2s;
}

.dev-icons .dev-icon {
  font-size: 2em;
}

.dev-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.7em;
  width: 100%;
}

[class*="devicon-csharp"] {
  color:#9C4E99;
}

[class*="devicon-nodejs"] {
  color: #8CC84B;
}

[class*="fas fa-database"] {
  color: #42C0FB
}

[class*="fab fa-aws"] {
  color: #FF9900;
}

[class*="devicon-javascript"] {
  color:#F0DA50;
}

[class*="devicon-css3"] {
  color:#2794CF;
}

[class*="devicon-html5"] {
  color:#EF6326;
}

[class*="devicon-react"] {
  color:#0BD8FF;
}

@keyframes fade-in-icons {
  0%   { opacity: 0; }
  25%   { opacity: .25; }
  50%  { opacity: .5; }
  75%   { opacity: .75; }
  100% { opacity: 1; }
}

@media all and (min-width: 1690px) {
  .card-container {
    width: 25vw;
    height: 14em;
  }

  .card .back p {
    font-size: 0.9em;
  }
}

@media all and (min-width: 1280px) and (max-width: 1689px) {
  .card-container {
    width: 35vw;
  }

  .card .back p {
    font-size: 0.9em;
  }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
  .card-container {
    width: 55vw;
  }
}

@media only screen and (max-width : 340px) {
  .card-container {
    height: 16em;
  }
}