.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-bottom: 1em;
  margin-top: 5em;
  /* min-height: 100vh; */
}

.contact-input {
  display: flex;
  flex-direction: column;
}

.contact-form .input-error {
    border-color: red;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  height: 3em;
  margin: 0.5em 0 0.5em 0;
  border-radius: 0.5em;
  padding: 0.4em;
  border: 1px solid #888;
}

.contact-form textarea {
  height: 8em;
}

.contact-form button {
  color: #16F4D0;
  background: #2c3e50;
  font-size: 1em;
  height: 2.5em;
}

.contact-form button:hover {
  background: #394a5a;
}

.contact-form h2 {
  text-align: center;
  color: #16F4D0;
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: 0.15em;
  line-height: 1.8em;
}

.contact-form .border {
  border-bottom: 0.05em solid;
  border-top: 0.05em solid;
  border-image-source: linear-gradient(90deg, #F95151 0%, #F9E35F 24%, #83D45A 49%, #62AFDF 74%, #8678DD 100%);
  border-image-slice: 20;
}

@media all and (min-width: 1690px){
  .contact-input {
    width: 35vw;
    align-self: center;
  }

  .contact-form h2 {
    font-size: 2.5em;
    padding: 1em 0;
    line-height: 0.3em;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.7em;
  }
}

@media all and (min-width: 1280px) and (max-width: 1689px) {
  .contact-input {
    width: 50vw;
    align-self: center;
  }

  .contact-form h2 {
    font-size: 2.5em;
    padding: 1em 0;
    line-height: 0.3em;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.7em;
  }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
    .contact-input {
        width: 60vw;
        align-self: center;
    }
  }