.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.experience-content {
    color: #fff;
}

.experience-content .title {
    text-align: center;
    font-size: 2.5em;
    color: #16F4D0;
}

.experience-content .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 1280px) {
    .experience-content .skills {
        justify-content: center;
    }

    .experience-content .title {
        font-size: 2.5em;
        padding: 1em 0;
    }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
    .experience-content .skills {
        justify-content: center;
    }
}