.header {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .intro span {
    color: #16F4D0;
    font-weight: bold;
  }
  
  .header h1 {
    font-size: 2.3em;
    margin: 0;
    font-weight: normal;
    color: #16F4D0;
    letter-spacing: 4px;
  }

  .header h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
  }
      
  .cartoon {
    height: 230px;
    margin: 0.5em 0.5em;
  }

  .header .intro .heart:after {
    content: '\f004.';
    font-family: FontAwesome;
    color: #fff;
    font-size: 1em;
    margin-left: 0.3em;
    color: red;
}

@media all and (min-width: 1680px) {
  .header .intro {
    flex-direction: row;
    font-size: 1.2em;
  }

  .cartoon {
      height: 350px;
  }

  .header h1 {
    font-size: 4em;
  }
}


@media all and (min-width: 1280px)  and (max-width: 1689px) {
    .header .intro {
      flex-direction: row;
      font-size: 1.1em;
    }

    .cartoon {
        height: 300px;
    }

    .header h1 {
      font-size: 4em;
    }
}

@media all and (min-width: 736px) and (max-width: 1279px) {
  .header .intro {
    flex-direction: row;
  }

  .cartoon {
      height: 250px;
  }

  .header h1 {
    font-size: 3em;
  }
}