.menu {
    display: flex;
    position: fixed;
    width: 100vw;
    font-family: 'Poiret One', 'sans-serif';
    font-size: 1.1em;
    color: #FBFCFF;
    font-weight: 600;
    padding: 0.1em;
    background-image: linear-gradient(90deg, #F95151 0%, #F9E35F 24%, #83D45A 49%, #62AFDF 74%, #8678DD 100%);
    box-shadow: 0 0 0.5em 0 #000000;
    z-index: 10;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    flex: 1;    
    background: #2c3e50;
}

.menu ul li {    
    display: inherit;
    padding: 0;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    user-select: none;
}

.menu ul li a {
    text-decoration: none;
    color: #FBFCFF;
}

.menu ul li:last-child:after {
    content: '\f0ac';
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 1.1em;
    color: #83d45a;
}


