.dots {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5em 0 5em 0;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: #16F4D0;
    margin-left: 0.6em;
    opacity: 0.6;
}

.dot:nth-child(3n+0){
    transform: scale(1.5);
}